.App {
  font-family: sans-serif;
  text-align: center;
}
ul {
  list-style-type: none;
}

.overlay {
  position: fixed;
  height: 100vh;
  width: 100vw;
  background: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}
.content {
  background: white;
  padding: 30px;
}

.fade-enter {
  transform: translate3d(-100%, 0, 0);
}
.fade-enter-active {
  transition: transform 1s;
  transform: translate3d(0, 0, 0);
}
.fade-leave {
  transform: translate3d(0, 0, 0);
}
.fade-leave-active {
  transition: transform 1s;
  transform: translate3d(-100%, 0, 0);
}
.tilt-enter {
  transform: perspective(0) rotateY(-10deg);
}
.tilt-enter-active {
  transition: transform 1s;
  transform: rotateY(0deg);
}
.tilt-leave {
  transform: rotateY(0deg);
}
.tilt-leave-active {
  transition: transform 1s;
  transform: perspective(1000px) rotateY(10deg);
}
.btn {
  height: 40px;
  width: 100px;
  background: #eee;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  cursor: pointer;
}
.freeze {
  pointer-events: none;
}
/* button {
  height: 100px;
  width: 100px;
  background-color: #2a4f7c;
  border : 1px dashed #fff;
  box-shadow: 0 0 0 4px #2a4f7c, 2px 1px 6px 4px rgba(10,10, 0, .5);
  color: #fff;
  cursor: pointer;
  position: relative;
  display: inline-block;
  padding: 12px 24px;
  margin-top: 0;
  margin-bottom: 0;
  vertical-align: middle;
  transition: all .25s ease;
} */

.ripples {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  background-color: transparent;
}
.is-active .ripples-circle {
  animation: ripples 0.4s ease-in;
}
.ripples-circle {
  background-color: rgba(255, 255, 255, 0.5);
  position: absolute;
  top: 50%;
  left: 50%;
  opacity: 0;
  width: 0;
  height: 0;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

@keyframes ripples {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  100% {
    width: 200%;
    padding-bottom: 200%;
    opacity: 0;
  }
}
